html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case {
    padding: 15px;
    flex: 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #D9b99F;
    border-radius: 15px;
}

.display-row {
    display: flex;
    gap: 2px;
}

.button-space {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

button {
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    cursor: pointer;
}

.key {
    flex: 1 0 21%;
    font-weight: bold;
    font-size: 30pt;
    border: none;
    border-radius: 10px;
    background-color: #F2D6CE;
    color: #292421;
}

.key.digit {
    background-color: #BAE0DA;
}

.key.digit:hover {
    background-color: #7A958F;
}

.small-key-column {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.small-key {
    flex: 0;
    font-weight: bold;
    font-size: 14pt;
    border: none;
    border-radius: 8px;
    background-color: #F2D6CE;
    color: #292421;
}

.small-key:hover, .key:hover {
    background-color: #CA8E82;
}

.display {
    flex: 1;
    width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: 26pt;
    border: none;
    border-radius: 10px;
    background-color: #F2E7DD;
    color: #292421;
}

.display:focus {
    outline: none;
}