html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case {
    padding: 15px;
    flex: 1;
    max-width: 300px;
    max-height: 500px;
    aspect-ratio: 3 / 5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: aqua;
    border-radius: 15px;
}

.display-row {
    display: flex;
    gap: 2px;
}

.button-space {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

.key {
    flex: 1 0 21%;
    font-weight: bold;
    font-size: 30pt;
    border: 2px solid black;
    border-radius: 10px;
}

.small-key {
    flex: 1;
}

.display {
    flex: 12;
    text-align: right;
}