html, body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.case {
    padding: 15px;
    flex: 0;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: aqua;
    border-radius: 15px;
}

.display-row {
    display: flex;
    gap: 2px;
}

.button-space {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 5px;
}

.key {
    flex: 1 0 21%;
    font-weight: bold;
    font-size: 30pt;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
}

.key.digit {
    background-color: rgb(240, 240, 240);
}

.small-key-column {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.small-key {
    flex: 0;
    font-weight: bold;
    font-size: 14pt;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgb(220, 220, 220);
}

.display {
    flex: 1;
    width: 200px;
    text-align: right;
    font-weight: bold;
    font-size: 26pt;
    border: 2px solid black;
    border-radius: 10px;
}